@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap'); */
@layer theme, base, components, utilities;



@layer components {
    .container-box {
        @apply px-[clamp(24px,calc(24px+96*((100vw-375px)/1065)),120px)] w-full max-w-[1440px] mx-auto
    }

    .container-body {
        @apply p-6
    }

    .container-in {
        @apply mx-6;
    }

    .button {
        @apply border flex font-bold border-black bg-black text-white px-16 py-5 gap-x-3 hover:bg-medium-gray hover:border-medium-gray
    }
    .text-dark-blue{
        color: var(--color-dark-blue);
    }

    .text-dark-gray{
        color: var(--color-dark-gray);
    }

    .text-xl {
        font-size: var(--text-xl);
        line-height: var(--line-xl);
        letter-spacing: var(--spacing-xl);
    }

    .text-lg {
        font-size: var(--text-lg);
        line-height: var(--line-lg);
        letter-spacing: var(--spacing-lg);
    }

    .text-md {
        font-size: var(--text-md);
        line-height: var(--line-md);
        letter-spacing: var(--spacing-md);
    }

    .text-sm {
        font-size: var(--text-sm);
        line-height: var(--line-sm);
        letter-spacing: var(--spacing-sm);
    }

    .text-xsm {
        font-size: var(--text-xsm);
        line-height: var(--line-xsm);
        letter-spacing: var(--spacing-xsm);
    }
}
/*@layer theme {*/
    @theme {
        --breakpoint-sm: 570px;
        --breakpoint-md: 768px;
        --breakpoint-ls: 900px;
        --breakpoint-lg: 1024px;
        --breakpoint-ld: 1140px;
        --breakpoint-xl: 1280px;

        --font-primary: "Lato", sans-serif;
        --color-dark-blue: rgb(27, 29, 35);
        --color-dark-gray: rgb(96, 99, 109);
        --color-medium-gray: rgb(125, 130, 143);
        --color-light-gray: rgb(200, 204, 216);
        --color-very-light-gray: rgb(238, 239, 244);
        --color-red: rgb(223, 86, 86);

        --text-xl: 150px;
        --line-xl: 200px;
        --spacing-xl: -3px;

        --text-lg: 96px;
        --line-lg: 80px;
        --spacing-lg: -2px;

        --text-md: 72px;
        --line-md: 64px;
        --spacing-md: -2px;

        --text-sm: 32px;
        --line-sm: 40px;
        --spacing-sm: 0px;

        --text-xsm: 18px;
        --line-xsm: 24px;
        --spacing-xsm: 0px;
    }
/*}*/



